h1{
    text-align: center;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
label {
    display: block;
    margin-bottom: 4px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    text-align: center;
}
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color: #45a049;
}
#lol{
    text-align: center;
    display: block;
}
h4,p{
    text-align: center;
}